<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administración</title>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
</head>

<body>
    <header class="dashboard-header">
        <div>
            <h1>Tech Store</h1>
            <h5>Panel de Administración</h3>
                <div>
                    <img src="/img/logo.png" alt="Imagen" style="max-width: 70px; border-radius: 6px;">
                </div>

        </div>
        <div>
            <span>Bienvenido</span>
            <a href="/admin/logout" class="btn-logout">Cerrar sesión</a>
        </div>
    </header>

    <main class="dashboard-main">
        <section class="dashboard-actions">
            <a href="/api/productos/admin/nuevo" class="btn btn-primary">Agregar producto</a>
            <a href="/api/productos/admin/inactives" class="btn btn-warning">Inactivos</a>
        </section>

        <section class="dashboard-list">
            <h2>Productos</h2>
            <table class="dashboard-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>Tipo</th>
                        <th>Imagen</th>
                        <th>Acciones</th>
                        <th>Activo</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (productos && productos.length> 0) { %>
                        <% productos.forEach(producto=> { %>
                            <% if(producto.activo===1){ %>

                                <tr>
                                    <td>
                                        <%= producto.id %>
                                    </td>
                                    <td>
                                        <%= producto.nombre %>
                                    </td>
                                    <td>$<%= producto.precio %>
                                    </td>
                                    <td>
                                        <%= producto.stock %>
                                    </td>
                                    <td>
                                        <%= producto.tipo %>
                                    </td>
                                    <td>
                                        <div style="margin-top:8px;">
                                            <img src="<%= producto.imagen %>" alt="Imagen"
                                                style="max-width: 120px; border-radius: 6px;">
                                        </div>
                                    </td>
                                    <td>
                                        <a href="/api/productos/admin/edit/<%= producto.id %>" method="POST"
                                            class="btn btn-sm btn-warning">Editar</a>
                                        <form action="/api/productos/admin/<%= producto.id %>?_method=DELETE"
                                            method="POST" style="display:inline;">
                                            <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>
                                        </form>
                                    </td>
                                    <td>
                                        <form action="/api/productos/admin/<%= producto.id %>?_method=PUT" method="POST"
                                            style="display:inline;">
                                            <button type="submit"
                                                class="btn btn-sm <%= producto.activo ? 'btn-danger' : 'btn-success' %>">
                                                <%= producto.activo ? 'Desactivar' : 'Activar' %>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                                <% } %>
                                    <% }) %>
                                        <% } else { %>
                                            <tr>
                                                <td colspan="5" style="text-align:center;">No hay productos cargados.
                                                </td>
                                            </tr>
                                            <% } %>
                </tbody>
            </table>
        </section>
    </main>
</body>

</html>