<header class="dashboard-header">
    <div class="dashboard-left">
        <img src="/img/logo.png" alt="Imagen" class="logo">
        <div>
            <h1>Tech Store</h1>
            <h5><%= subtitulo %></h5>
        </div>
    </div>
    <div class="dashboard-right">
        <a href="<%= logoutHref %>" class="btn-logout">
            <%= textoLogout %>
        </a>
    </div>
</header>
<!-- 
<header class="dashboard-header">
        <div>
            <h1>Tech Store</h1>
            <div>
                <img src="/img/logo.png" alt="Imagen" style="max-width: 70px; border-radius: 6px;">
            </div>
            <h5><%= subtitulo %></h5>

        </div>
        <div>
            <a href="<%= logoutHref %>" class="btn-logout">
            <%= textoLogout %>
            </a>
        </div>
    </header>
-->